.container {
  background: rgba(255, 255, 255, 0.3);
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  color:white;
  
}

body {
  background: rgb(51, 101, 194);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
input[type="submit"] {
  background: #3a237d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  font-size: 15px;
}

input[type="submit"]:hover {
  background: #2348ab;
}
input {
  width: calc(100% - 10px);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid white;
  margin-top: 20px;
}
h1,
label,
p {
  color: #fff;
  margin: 8px 0;
}

.flexed {
  display:flex;
  justify-content: space-between;
}


button{
  margin:10px;
}